@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 400;
    src: url('../SFUIText/SFUITextTypes/SFUIText-Regular.woff2');
    /* IE9 Compat Modes */
    src: local(''),
        url('../SFUIText/SFUITextTypes/SFUIText-Regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../SFUIText/SFUITextTypes/SFUIText-Regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../SFUIText/SFUITextTypes/SFUIText-Regular.woff') format('woff'),
        /* Modern Browsers */
        url('../SFUIText/SFUITextTypes/SFUIText-Regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
}
@font-face {
    font-family: 'SF UI Text';
    font-style: normal;
    font-weight: 500;
    src: url('../SFUIText/SFUITextTypes/SFUIText-Medium.woff2');
    /* IE9 Compat Modes */
    src: local(''),
        url('../SFUIText/SFUITextTypes/SFUIText-Medium.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../SFUIText/SFUITextTypes/SFUIText-Medium.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../SFUIText/SFUITextTypes/SFUIText-Medium.woff') format('woff'),

        /* Modern Browsers */
        url('../SFUIText/SFUITextTypes/SFUIText-Medium.ttf') format('truetype')
    /* Legacy iOS */
}
