.h-first {
  /*   &__contacts {
  } */
}

.h-first__desktop {
  height: 6.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1080px) {
  .h-first__desktop {
    display: none;
  }
}

.h-first__searcher-input {
  width: 32.5625rem;
  height: 2.75rem;
}

.h-first__login, .h-first__cart {
  position: relative;
}

.logo {
  font-style: italic;
  width: 13.3125rem;
}

.logo__img {
  height: 4.5625rem;
}

@media (max-width: 550px) {
  .logo__img {
    height: 4rem;
  }
}

.logo__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__span {
  color: #D2001C;
}

@media (max-width: 768px) {
  .logo__title {
    display: none;
  }
}

.reviews {
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.16);
  /* &__wrapper {
  } */
}

.reviews__link {
  width: 6.5625rem;
  height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews__img {
  margin: auto;
  height: 3.125rem;
}

.searcher {
  font-weight: 600;
}

.searcher__form {
  position: relative;
}

.searcher__submit {
  position: absolute;
  right: 0.2rem;
  top: 0;
  bottom: 0;
  margin: auto;
  border: 0.125rem solid #D2001C;
  border-radius: 0.25rem;
  height: 2.25rem;
  width: 4.6875rem;
  padding: 0.4rem 0.875rem;
  color: #D2001C;
}

@media (max-width: 400px) {
  .searcher__submit {
    width: 4rem;
    padding: 0.4rem 0.6rem;
  }
}

.input__search {
  border-radius: 0.25rem;
  outline: none;
  padding-left: 1rem;
  border: 0.0625rem solid #bdbdbd;
  border-radius: 0.25rem;
}

.input__search::-webkit-input-placeholder {
  color: #9e9e9e;
  font-family: "Open Sans";
  font-weight: 600;
}

.input__search:-ms-input-placeholder {
  color: #9e9e9e;
  font-family: "Open Sans";
  font-weight: 600;
}

.input__search::-ms-input-placeholder {
  color: #9e9e9e;
  font-family: "Open Sans";
  font-weight: 600;
}

.input__search::placeholder {
  color: #9e9e9e;
  font-family: "Open Sans";
  font-weight: 600;
}

.login {
  /*  &__link {
  } */
}

.login__link {
  width: 4.5625rem;
  color: #222222;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login__link:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  left: 0;
  width: 1.5rem;
  background-color: #D2001C;
  -webkit-mask-size: contain !important;
          mask-size: contain !important;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask: url("/assets/svg/icon_login.svg") no-repeat;
          mask: url("/assets/svg/icon_login.svg") no-repeat;
}

.cart__link {
  width: 10rem;
  height: 2rem;
  font-weight: 600;
  padding: 0 1rem;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cart__link:before {
  position: absolute;
  content: "";
  height: 1.5rem;
  left: 1rem;
  width: 1.5rem;
  background-color: #ffffff;
  -webkit-mask: url("/assets/svg/icon_cart.svg") no-repeat;
          mask: url("/assets/svg/icon_cart.svg") no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
}

.cart__title {
  line-height: 1.375rem;
}
/*# sourceMappingURL=h-first.css.map */